name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:
    inputs:
      topicA:
        description: topicA
      topicB:
        description: topicB

jobs:
  topics:
    runs-on: ubuntu-latest
    outputs:
      topicA: ${{ steps.a.outputs.topics }}
      topicB: ${{ steps.b.outputs.topics }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Topic A
        id: a
        run: python3 topics.py ${{ github.event.inputs.topicA }}
      - name: Topic B
        id: b
        run: python3 topics.py ${{ github.event.inputs.topicB }}
  buildA:
    needs: topics
    runs-on: ubuntu-latest
    strategy:
      matrix:
        number: ${{ fromJSON(needs.topics.outputs.topicA) }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip requests
    - name: Run A
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        python3 keep_docker_hub_images.py ${{ matrix.number }}
  buildB:
    needs: topics
    runs-on: ubuntu-latest
    strategy:
      matrix:
        number: ${{ fromJSON(needs.topics.outputs.topicB) }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip requests
    - name: Run B
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        python3 replicate_v2_docker_images.py ${{ matrix.number }}
